{
    "com.amethyst.Amethyst" =     {
        "KeyboardShortcuts_focus-ccw" = "{\\"carbonModifiers\\":6400,\\"carbonKeyCode\\":38}";
        "KeyboardShortcuts_focus-cw" = "{\\"carbonKeyCode\\":40,\\"carbonModifiers\\":6400}";
        "KeyboardShortcuts_relaunch-amethyst" = "{\\"carbonKeyCode\\":6,\\"carbonModifiers\\":6656}";
        "KeyboardShortcuts_select-column-layout" = "{\\"carbonModifiers\\":6400,\\"carbonKeyCode\\":17}";
        "KeyboardShortcuts_select-fullscreen-layout" = "{\\"carbonModifiers\\":6400,\\"carbonKeyCode\\":3}";
        "KeyboardShortcuts_swap-ccw" = "{\\"carbonKeyCode\\":38,\\"carbonModifiers\\":6912}";
        "KeyboardShortcuts_swap-cw" = "{\\"carbonKeyCode\\":40,\\"carbonModifiers\\":6912}";
        "KeyboardShortcuts_throw-space-1" = "{\\"carbonModifiers\\":6912,\\"carbonKeyCode\\":18}";
        "KeyboardShortcuts_throw-space-10" = "{\\"carbonKeyCode\\":29,\\"carbonModifiers\\":6912}";
        "KeyboardShortcuts_throw-space-2" = "{\\"carbonModifiers\\":6912,\\"carbonKeyCode\\":19}";
        "KeyboardShortcuts_throw-space-3" = "{\\"carbonKeyCode\\":20,\\"carbonModifiers\\":6912}";
        "KeyboardShortcuts_throw-space-4" = "{\\"carbonKeyCode\\":21,\\"carbonModifiers\\":6912}";
        "KeyboardShortcuts_throw-space-5" = "{\\"carbonKeyCode\\":23,\\"carbonModifiers\\":6912}";
        "KeyboardShortcuts_throw-space-6" = "{\\"carbonKeyCode\\":22,\\"carbonModifiers\\":6912}";
        "KeyboardShortcuts_throw-space-7" = "{\\"carbonModifiers\\":6912,\\"carbonKeyCode\\":26}";
        "KeyboardShortcuts_throw-space-8" = "{\\"carbonKeyCode\\":28,\\"carbonModifiers\\":6912}";
        "KeyboardShortcuts_throw-space-9" = "{\\"carbonModifiers\\":6912,\\"carbonKeyCode\\":25}";
        "KeyboardShortcuts_throw-space-left" = "{\\"carbonKeyCode\\":4,\\"carbonModifiers\\":6912}";
        "KeyboardShortcuts_throw-space-right" = "{\\"carbonKeyCode\\":37,\\"carbonModifiers\\":6912}";
    };
    "eu.exelban.Stats" =     {
        "CPU_state" = 1;
        "GPU_state" = 1;
        "Clock_state" = 0;
        "Disk_state" = 0;
        "Battery_state" = 0;
        "Sensors_state" = 0;
        CombinedModules = 1;
        LaunchAtLoginNext = 1;
        runAtLoginInitialized = 1;
        "temperature_units" = celsius;
        "update-interval" = Silent;
    };
}
